
body {
    margin: 0;
    padding: 0;
  
    height: 100vh;
    width: 100vw;
  
    background-color: beige;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #container {
  
      height: 40em;
      width: 60em;
  
      background-color: grey;
      border-radius: 0.4em;
  
      border: 0.2em solid black;
  
      display: flex;
      justify-content: center;
      align-items: center;
  }
  #tv{

      height:40em;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;


  }
  #marco{

      height: 28em;
      width: 45em;

      background-color: black;
      border-radius: 2em;

      display: flex;
      justify-content: center;
      align-items: center;
    
  }

  #baseTv{

    height: 5em;
    width: 10em;

    background-color: black;
    border-radius: 20%;

    display: flex;
    justify-content: center;
    align-items: center;

  }
  #screen {
  
      height: 25em;
      width: 40em;
  
      border-radius: 0.4em;
     
  }
  
  .basicScreen {
      background-color: rgb(139, 139, 139);

  }
  
  #remote {
  
      height: 25em;
      width: 10em;
  
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
  
      border-radius: 0.2em;
  
      background-color: rgb(152, 151, 151);
  
      margin-left: 10em;
  }
  .o1{

    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;

    padding:0.3em;

    

  }
  .button {
  
      height: 2em;
      width: 2em; 
      border-radius: 50%;
      margin:1em;

      border-style:outset;
      border-width: medium;
  
      background-color: rgb(181, 179, 179);
  
      color: rgb(72, 69, 69);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 0.2s;
  }
  
  .button:hover{
      transition: 0.2s;
      background-color: rgb(112, 112, 112);
      border-style:inset;
      border-width: medium;
  }
 
  #buttonPower {
  
    height: 2em;
    width: 4em; 
    border-radius: 20%;
    border-color:black;
    border-style:outset;
    border-width: medium;
    margin:1em;

    background-color: rgb(255, 30, 30);

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
  }

  #buttonPower:hover{
    transition: 0.2s;
    background-color: rgb(171, 20, 20);
    border-style:inset;
  }

  #piloto{

    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: blue;
    justify-content: flex-end;
   }

  .pilotoOn{

    background-color: rgb(17, 144, 36);

  }
  .pilotoOff{
    background-color: red;
    
  } 

  .canal1 {
      background-color: aqua;
  }
  
  .canal2 {
      background-color: purple;
  }
  
  .canal3 {
      background-color: greenyellow;
  }
  
  .canal4 {
      background-color: gold;
  }
  .canal5 {
    background-color: rgb(252, 2, 223);
  }

  .canal6 {
    background-color: rgb(17, 255, 203);
  }

 
  