
body {
    margin: 0;
    padding: 0;
  
    height: 100vh;
    width: 100vw;
  
    background-color: beige;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #container {
  
      height: 40em;
      width: 60em;
      
      border-radius: 0.4em;
  
      display: flex;
      justify-content: center;
      align-items: center;
  }
  #tv{

      height:55em;


      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;


  }
  #marco{

      height: 40em;
      width: 45em;

      background-color: rgb(193, 75, 185);
      border-radius: 2em;
      border: 0.3em solid rgb(131, 49, 125);

      display: flex;
      justify-content: center;
      align-items:center;
      flex-direction: column;
    
  }

  #marcoInt{

    height: 30em;
    width: 40em;

    background-color: rgb(117, 46, 112);
    border-radius: 2em;
    border: 0.3em solid rgb(70, 69, 70);

    display: flex;
    justify-content: center;
    align-items:center;
    
  }

  #baseTv{

    height: 5em;
    width: 10em;

    background-color: rgb(193, 75, 185);
    border-radius: 20%;

    display: flex;
    justify-content: center;
    align-items: center;

  }
  #screen {
  
      height: 28em;
      width: 35em;
  
      border-radius: 10% / 30%;
     
  }
  #hour{
      
      height: 4em;
      width: 8em;

      color:honeydew;
      font-style: italic;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size:medium;
    

      margin: 23em;
      display:flex;
      align-items: center;
      justify-content: center;

  }

  .screenColor {
       /* Showed when tv is on*/
       background-color: bisque;
       

  }
  .screenBlack {
      background-color: rgb(93, 151, 206); /* Showed when tv is off, is the basic screen */
      border-color: blue;
      border-style: medium;
      top: 10%;
      bottom: 10%;
      right: -5%;
      left: -5%;

  }
  
  #remote {
  
      height: 25em;
      width: 10em;
  
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
  
      border-radius: 0.2em;
  
      background-color: rgb(152, 151, 151);
  
      margin-left: 10em;
  }
  .o1{

    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;

    padding:0.3em;

    

  }
  .button {
  
      height: 2em;
      width: 2em; 
      border-radius: 50%;
      margin:1em;

      border-style:outset;
      border-width: medium;
  
      background-color: rgb(181, 179, 179);
  
      color: rgb(72, 69, 69);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 0.2s;
  }
  
  .button:hover{
      transition: 0.2s;
      background-color: rgb(112, 112, 112);
      border-style:inset;
      border-width: medium;
  }
 
  #buttonPower {
  
    height: 2em;
    width: 4em; 
    border-radius: 20%;
    border-color:black;
    border-style:outset;
    border-width: medium;
    margin:1em;

    background-color: rgb(255, 30, 30);

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
  }

  #buttonPower:hover{
    transition: 0.2s;
    background-color: rgb(171, 20, 20);
    border-style:inset;
  }

  #piloto{

    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin-top: 2em;
    border-color:black;
    border-style: medium;
  
   }

  .pilotoOn{

    background-color: rgb(17, 144, 36);

  }
  .pilotoOff{
    background-color: red;
    
  } 

  .channel1 {
      background-color: aqua;
  }
  
  .channel2 {
      background-color: purple;
  }
  
  .channel3 {
      background-color: greenyellow;
  }
  
  .channel4 {
      background-color: gold;
  }
  .channel5 {
    background-color: rgb(252, 2, 223);
  }

  .channel6 {
    background-color: rgb(17, 255, 203);
  }

 
  